html,
body {
  margin: 0;
  padding: 0;
}

nav > a {
  display: inline;
}
#nav2 > a {
  display: block;
  padding-left: 8px;
}

body {
  background-color: white;
  font-family: Robotoa, sans-serif;
  font-size: 100%;
}

h1 {
  font-size: 200%;
  color: navy;
  text-align: center;
}

#cpr {
  padding-left: 960px;
}

p,
ul,
li,
td {
  color: black;
}
.intro {
  color: rgb(1, 16, 1);
  text-decoration: underline;
}
#button {
  width: 60px;
  background: lightseagreen;
}

form ~ label {
  text-decoration: underline;
  font-style: italic;
  color: black;
}
